#photography-intro{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    overflow: hidden;
}

@media (max-width: 1000.98px) {
  #photography-intro{
      display: none;
  }
}

#photography-intro-large{
  height: 100%;
}

.photography-intro-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1000.98px) {
  #photography-intro-large{
      display: none;
  }
}


.intro-grid {
    height: 50vh;
    width: 45vw;
    border: none;
    overflow: hidden;
}
.intro-images{
    max-width: 100%;
    max-height: 100%;
    min-width: 25vw;
    min-height: 50vh;
    object-fit: cover;
}

.intro-title{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
}


.intro-text{
    position: absolute;
    color: var(--first-color);
    font-size: 2rem;
}

.intro-text1{
    top: 0;
    left: 50%;
}

.intro-text2{
    top: 2rem;
    left: 50%;
}

.intro-text3{
    bottom: 2rem;
    left: 25%;
}

.intro-text4{
    bottom: 0;
    left: 25%;
}

.intro-text5{
    transform: rotate(-90deg);
    bottom: 2rem;
    left: -1rem;
}

.intro-text6{
    transform: rotate(90deg);
    top: 8rem;
    right: -7rem;
}

.intro-text7{
    transform: rotate(90deg);
    bottom: 5.7rem;
    right: -4.7rem;
}


.pin{
  display: flex;
  height: 100%;
  justify-content: center;
}

.pin-box{
    position: relative;
    right: 5%;
    top: 12%;
}


.pin-trombone{
  position: absolute;
  height: 15%;
  z-index: 4;
  top: -5.4%;

  /* margin-top: 2.7rem; */
  /* right: -237px; */
}

.pin-img1{
  position: absolute;
  height: 40%;
  z-index: 2;
  /* left: 27%; */
  /* margin-top: 6rem; */
  transform: rotate(3deg);
}

.pin-img2{
    position: absolute;
    height: 38%;
    z-index: 3;
    /* left: 29%; */
    /* margin-top: 6rem; */
    transform: rotate(-2deg);
}

.pin-main{
  display: flex;
  align-items: center;
  max-width: 80%;
  overflow: hidden;
}

.pin-main-img{
  height: 70%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  object-fit: cover;
}


@media (max-width: 700px) {
  .pin-box{
    top: 9%;
  }

  .pin-main-img{
    height: 75%;
  }

  .pin-img1{
    height: 37%;
    /* top: 65px; */
  }

  .pin-img2{
    height: 37%;
    /* top: 65px; */
  }

  .pin-trombone{
    height: 12%;
    top: -4.5%;
  }
}














/* Illustration */

.carte {
  border-radius: 0.5em;
  padding: 0.5em;
  max-width: max-content;
  display: grid;
}

.imagesBox:hover {
  will-change: transform;
  transform: scale3d(1.03, 1.03, 2);
  background: aliceblue;
  transition: transform 0.2s ease-in-out, rotate 0.2s ease-in-out;
}

#image-container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

#imageDeux-container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.imagesBox {
  height: 80vh;
  width: auto;
  border: none;
  overflow: hidden;
}

.images {
  display: block;
  width: 30rem;
  height: auto;
  object-fit: cover;
  
}

@media (max-width: 1000.98px) {
  .images {
    display: block;
    margin: auto;
    height: 50vh !important;
    object-fit: cover;
    min-width: 30vw !important;
  }


  .imagesBox {
    height: 50vh;
    width: 45vw;
    border: none;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    .imagesBox{
      width: 80vw;
    }
  }
  #imageDeux-container {
    width: 100vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*photography*/
@media (min-width: 1000.98px) {
    .petit{
        transform: translate(0px, -79px);
    }
}

.grand{
    min-width: 60rem;
    margin: auto;
    min-height: 50vh;
}

@media (max-width: 1000.98px) {
  .images {
    display: block;
    margin: auto;
    max-width: 95% !important;
    min-width: 30rem;
    height: auto;
    object-fit: cover;
  }

  .grand{
    width: 60vw !important;
    height: 50vh !important;
  }
}


.diary-container {
  display: flex;
  justify-content: center;
  margin: 3%;

  & .diary-main{
    display: flex;
    justify-content:space-between;
    width: 50vw;
    height: 80vh;

    & .diary-img-main{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  & .diary-grid{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 49%);
    gap: 2%;
    width: 50%;
    height: 80vh;
    justify-content: end;

    & .diary-grid-img{
      width: 100%;
            object-fit: cover;
            height: 100%;
    }
  }
  
  & .diary-text-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10%;

      & .diary-text{
      position: absolute;
      font-family: "shantell-sans-bouncy", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      color: rgb(255, 138, 138);
      transform: rotate(3deg);
    }
  }


  
}

.parallax-container{
  display: flex;
  flex-direction: row;
  margin: 5rem 3%;

  & .parallax-first{
    position: relative;
    text-align: end;
    margin-top: 10%;
  }

  & .parallax-second{
    position: relative;
    text-align: end;

    @media (max-width: 1000.98px){
      text-align: start;
      margin-top: 2rem;
    }
  }

  & .parallax-img{
    width: 60%;

    @media (max-width: 1000.98px){
      width: 250px;
    }
  }

  & .parallax-film-first{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -8rem;
  }

  & .parallax-film-second{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    right: 50%;  

    @media (max-width: 1000.98px){
      top: -7rem;
      right: 0;
    }
  }

  & .parallax-film-img{
    width: 14rem;
    height: 17rem;
    object-fit: cover;
    padding: 0.5rem;

    @media (max-width: 1000.98px){
      width: 10rem;
      height: 11rem;
    }
  }

  @media (max-width: 1000.98px){
      flex-direction: column;
  }
}

@media (max-width: 1000px){
  .parallax-film-img {
    width: 12rem;
    height: 14rem;
  }
}

@media (max-width: 1000.98px) {
  .diary-container{
    flex-direction: column;
    align-items: center;

    & .diary-main{
      margin-bottom: 50px;
      width: 100%;
      height: 100vh;
    }

    & .diary-img-main{
      width: 80% !important;
      height: 85% !important;
      margin: auto;
    }

    & .diary-grid{        
      grid-template-columns: repeat(2, 70%);
      gap: 5px;
      justify-content: center;
      height: 100vh;

      @media (max-width: 500px) {       
        grid-template-columns: repeat(2, 100%);
      }
    }
    
    & .diary-text-container{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: 10%;
    }

    & .diary-text{
      left: 50%;
    }
  }
}

