#photography-intro{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    overflow: hidden;
}


.intro-grid {
    height: 50vh;
    width: 45vw;
    border: none;
    overflow: hidden;
}
.intro-images{
    max-width: 100%;
    max-height: 100%;
    min-width: 25vw;
    min-height: 50vh;
    object-fit: cover;
}

.intro-title{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
}


.intro-text{
    position: absolute;
    color: var(--first-color);
    font-size: 2rem;
}

.intro-text1{
    top: 0;
    left: 50%;
}

.intro-text2{
    top: 2rem;
    left: 50%;
}

.intro-text3{
    bottom: 2rem;
    left: 25%;
}

.intro-text4{
    bottom: 0;
    left: 25%;
}

.intro-text5{
    transform: rotate(-90deg);
    bottom: 2rem;
    left: -1rem;
}

.intro-text6{
    transform: rotate(90deg);
    top: 8rem;
    right: -7rem;
}

.intro-text7{
    transform: rotate(90deg);
    bottom: 5.7rem;
    right: -4.7rem;
}


.pin{
  display: flex;
  height: 100%;
}

.pin-box{
  margin-left: 30%;
}

.pin-trombone{
  position: absolute;
  height: 15%;
  z-index: 4;
  margin-top: 3.7rem;
  left: 33%;
}

.pin-img1{
  position: absolute;
  height: 40%;
  z-index: 2;
  left: 27%;
  margin-top: 6rem;
  transform: rotate(3deg);
}

.pin-img2{
    position: absolute;
    height: 38%;
    z-index: 3;
    left: 29%;
    margin-top: 6rem;
    transform: rotate(-2deg);
}

.pin-main{
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.pin-main-img{
  height: 70%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  object-fit: cover;
}















/* Illustration */

.carte {
  border-radius: 0.5em;
  padding: 0.5em;
  max-width: max-content;
  display: grid;
}

.imagesBox:hover {
  will-change: transform;
  transform: scale3d(1.03, 1.03, 2);
  background: aliceblue;
  transition: transform 0.2s ease-in-out, rotate 0.2s ease-in-out;
}

#image-container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

#imageDeux-container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.imagesBox {
  height: 80vh;
  width: auto;
  border: none;
  overflow: hidden;
}

.images {
  display: block;
  width: 30rem;
  height: auto;
  object-fit: cover;
  
}

@media (max-width: 1000.98px) {
  .images {
    display: block;
    margin: auto;
    height: 50vh !important;
    object-fit: cover;
    min-width: 30vw !important;
  }


  .imagesBox {
    height: 50vh;
    width: 45vw;
    border: none;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    .imagesBox{
      width: 80vw;
    }
  }
  #imageDeux-container {
    width: 100vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*photography*/
@media (min-width: 1000.98px) {
    .petit{
        transform: translate(0px, -79px);
    }
}

.grand{
    min-width: 60rem;
    margin: auto;
    min-height: 50vh;
}

@media (max-width: 1000.98px) {
  .images {
    display: block;
    margin: auto;
    max-width: 95% !important;
    min-width: 30rem;
    height: auto;
    object-fit: cover;
  }

  .grand{
    width: 60vw !important;
    height: 50vh !important;
  }
}
