/* Illustration */

.carte {
  border-radius: 0.5em;
  padding: 0.5em;
  max-width: max-content;
  display: grid;
}

.imagesBox:hover {
  will-change: transform;
  transform: scale3d(1.03, 1.03, 2);
  background: aliceblue;
  transition: transform 0.2s ease-in-out, rotate 0.2s ease-in-out;
}

#image-container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

#imageDeux-container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.imagesBox {
  height: 80vh;
  width: auto;
  border: none;
  overflow: hidden;
}

.images {
  display: block;
  width: 30rem;
  height: auto;
  object-fit: cover;
  
}

@media (max-width: 1000.98px) {
  .images {
    display: block;
    margin: auto;
    height: 50vh !important;
    object-fit: cover;
    min-width: 30vw !important;
  }


  .imagesBox {
    height: 50vh;
    width: 45vw;
    border: none;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    .imagesBox{
      width: 80vw;
    }
  }
  #imageDeux-container {
    width: 100vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*photography*/
@media (min-width: 1000.98px) {
    .petit{
        transform: translate(0px, -79px);
    }
}

.grand{
    min-width: 60rem;
    margin: auto;
    min-height: 50vh;
}

@media (max-width: 1000.98px) {
  .images {
    display: block;
    margin: auto;
    max-width: 95% !important;
    min-width: 30rem;
    height: auto;
    object-fit: cover;
  }

  .grand{
    width: 60vw !important;
    height: 50vh !important;
  }
}


/*graphisme*/

.project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-bottom: 50px;
  padding-bottom: 5rem;
}

@media (max-width: 1000.98px) {
  .project-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
    align-items: center;
  }

  #pictureOne {
    margin-bottom: 5px;
    width: 80vw !important;
    height: 70vh;
  }

  .informationTexte {
    width: 80vw !important;
  }
}

.project-item-footer {
  align-items: center;
}

#pictureOne {
  height: 60vh;
  width: 40vw;
  overflow: hidden;
  object-fit: contain;
}

.projetNom {
  font-size: 2rem;
  width: 20vw;
  margin-bottom: 100px;
}

.informationTexte {
  font-size: 0.7rem;
  width: 40vw;
  color: gray;
}

.projet-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.projet-item :hover {
  color: black;
}






.scroll-button {
  display: none;
}
